@page
@model sistema_vendas_web.Pages.Private.Relatorios.RelatorioPedidoModel
@{
    ViewData["Title"] = "Relatório Pedidos";
    Layout = "_Layout";
}

<div class="mt-2">
    <h6>Relatório de Pedidos</h6>
</div>
<hr />

<form asp-page="./RelatorioPedido" method="get" class="mt-5 mb-5">
    <div class="col col-sm-12">
        <div class="form-row mt-2">
            <div class="col col1 col-sm-3">
                <label>SITUAÇÃO DO PEDIDO</label>
                <select asp-for="Status" class="form-control form-control-sm">
                    <option value="" selected disabled>Seleciona</option>
                    <option value="">Todos</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Importado">Importado</option>
                </select>
            </div>
            <div class="col col1 col-sm-3">
                <label>PERÍODO INICIAL</label>
                <div class="input-group input-group-sm">
                    <input asp-for="Inicial" class="form-control"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="~/image/icon/16px/calendar.png" /></span>
                    </div>
                </div>
            </div>
           <div class="col col1 col-sm-3">
                <label>PERÍODO FINAL</label>
                <div class="input-group input-group-sm">
                    <input asp-for="Final" class="form-control"/>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><img src="~/image/icon/16px/calendar.png" /></span>
                    </div>
                </div>
            </div>
            <div class="col col1 col-sm-2 ml-auto">
                <label>.</label>
                <input type="submit" value="Gerar Relatório" class="btn btn-sm btn-primary" style="width:180px" />
            </div>
        </div>
    </div>
</form>


<table class="table table-hover">
    <thead>
        <tr class="bg-light">
            <th>
                Nº PEDIDO
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].TIPO_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].COD_CLIENTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].DATA_EMISSAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].FORMA_PAGAMENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].TOTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido[0].STATUS)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pedido)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.COD_PEDIDO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIPO_CLIENTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COD_CLIENTE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA_EMISSAO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FORMA_PAGAMENTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TOTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STATUS)
                </td>
            </tr>
        }
    </tbody>
</table>
