@page
@model sistema_vendas_web.Pages.Private.Produtos.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="mt-2">
    <h6>Produto</h6>
</div>
<hr />

<form asp-page="./Index" method="get" class="mt-5 mb-5">
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <input type="text" asp-for="SearchString" class="form-control col-sm-9" placeholder="Buscar pelo nome do produto..." />
            <select asp-for="Status" class="form-control col-sm-1">
                <option value="" selected disabled>Status</option>
                <option value="">Todos</option>
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
            <div class="input-group-append">
                <input type="submit" value="Pesquisar" class="btn btn-sm btn-primary" style="width:110px" />
                <a asp-page="Create" class="btn btn-sm btn-primary ml-5" style="width:110px">Novo Produto</a>
            </div>
        </div>
    </div>
</form>

<div style="height: 350px; overflow-y: scroll;">
    <table class="table table-hover">
        <thead>
            <tr class="bg-light">
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].COD_PRODUTO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].DESCRICAO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].VALOR_UNITARIO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].UNIDADE_MEDIDA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].QTD_ESTOQUE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].STATUS)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Produto)
            {

                var produtomodal = "#Modal" + item.COD_PRODUTO;
                var produtoid = "Modal" + item.COD_PRODUTO;

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.COD_PRODUTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DESCRICAO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VALOR_UNITARIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UNIDADE_MEDIDA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QTD_ESTOQUE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.STATUS)
                    </td>
                    <td>

                        @if (@item.STATUS == "Inativo")
                        {
                            <a asp-page="./Edit" asp-route-id="@item.COD_PRODUTO" class="btn btn-sm btn-outline-secondary disabled" style="width:68px">Editar</a>
                            <a asp-page="./Details" asp-route-id="@item.COD_PRODUTO" class="btn btn-sm btn-outline-secondary disabled" style="width:68px">Detalhar</a>
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width:68px" data-toggle="modal" data-target="@produtomodal">Ativar</button>

                            <!-- MODAL DE CONFIRMAÇÃO -->
                            <div class="modal fade" id="@produtoid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-center" id="myModalLabel">Confirmar Ativação</h4>
                                            <button type="button" class="close ml-auto" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>Você tem certeza que deseja ativar o produto:</p>
                                            <p>@item.COD_PRODUTO - @item.DESCRICAO</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-page-handler="Ativar" asp-route-Id="@item.COD_PRODUTO" id="deleteBtn" class="btn btn-sm bg-danger mr-1">Ativar</a>
                                            <button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <a asp-page="./Edit" asp-route-id="@item.COD_PRODUTO" class="btn btn-sm btn-outline-primary" style="width:68px">Editar</a>
                            <a asp-page="./Details" asp-route-id="@item.COD_PRODUTO" class="btn btn-sm btn-outline-primary" style="width:68px">Detalhar</a>
                            <button type="button" class="btn btn-sm btn-outline-primary" style="width:68px" data-toggle="modal" data-target="@produtomodal">Inativar</button>

                            <!-- MODAL DE CONFIRMAÇÃO -->
                            <div class="modal fade" id="@produtoid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title text-center" id="myModalLabel">Confirmar Inativação</h4>
                                            <button type="button" class="close ml-auto" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>Você tem certeza que deseja inativar o produto:</p>
                                            <p>@item.COD_PRODUTO - @item.DESCRICAO</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-page-handler="Inativar" asp-route-Id="@item.COD_PRODUTO" id="deleteBtn" class="btn btn-sm bg-danger mr-1">Inativar</a>
                                            <button type="button" class="btn btn-sm" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>